{% extends "fragments/default.html" %}
{% block navbar %}
{% include "fragments/navbar.html" %}
{% endblock %}

{% block content %}

{% if not project %}
Not Authorized
{% else %}

<div class="col-lg-9">
  <div class="row">
    <div class="col-lg-9">
      <h4>{{project.name}}</h4>
    </div>
    <div class="col-lg-3">
      {% if user.is_superuser %}
      <a href="{% url 'projects_edit' id=project.id %}" class="btn btn-default">Edit</a>
      <a href="{% url 'projects_delete' id=project.id %}" class="btn btn-default">Delete</a>
      {% endif %}
    </div>
  </div>
  <br/>
</div>

<div class="col-lg-12">
  <br/>
  <ul class="nav nav-tabs" role="tablist" id="projectTabs">
    <li role="presentation" class="active"><a href="#project" aria-controls="project" role="tab" data-toggle="tab">Project</a></li>
    <li role="presentation"><a href="#repos" aria-controls="repos" role="tab" data-toggle="tab">Repos</a></li>
    <li role="presentation"><a href="#streams" aria-controls="streams" role="tab" data-toggle="tab">Streams</a></li>
    <li role="presentation"><a href="#targets" aria-controls="targets" role="tab" data-toggle="tab">Deployments</a></li>
    <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
    <li role="presentation"><a href="#releases" aria-controls="releases" role="tab" data-toggle="tab">Releases</a></li>
    <li role="presentation"><a href="#builds" aria-controls="builds" role="tab" data-toggle="tab">Builds</a></li>
  </ul>

  <div class="tab-content">
    <!-- Tabs -->
    <div role="tabpanel" class="tab-pane active" id="project">
      <br/>
      <div class="canvas-wide jtk-surface jtk-surface-nopan chart" id="graph"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="repos">
      <br/>
      <p>
      {% if repos %}
        <table class="table table-hover table-bordered table-condensed">
          <thead><tr>
            <th>Github URL</th>
            <th>Build type</th>
            <th>Default branch</th>
            <th>Builds</th>
            <th></th>
          </tr></thead>
          <tbody>
            {% for repo in repos %}
              <tr>
                <td >{{ repo.github_url }}</td>
                <td >{{ repo.build_type }}</td>
                <td >{{ repo.default_branch }}</td>
                <td >{{ repo.build_counter }}</td>
                <td width="120em">
                  <div class="btn-group btn-group-sm">
                    <a href="{% url 'projects_build' id=repo.id %}" class="btn btn-primary" title="Build"><span class="glyphicon glyphicon-play electric"></span></a>
                    <a class="btn btn-default" href="{% url 'repo_edit' id=repo.id %}" title="Edit"><span class="glyphicon glyphicon-edit electric"></span></a>
                    <a class="btn btn-default" href="{% url 'repo_delete' id=repo.id %}" title="Delete"><span class="glyphicon glyphicon-remove electric"></span></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
        <a href="{% url 'repo_create' project=project.id %}" class="btn btn-default">Add</a>
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="targets">
      <br/>
      <p>
      {% if targets %}
        <table class="table table-hover table-bordered table-condensed">
          <thead><tr>
            <th>Description</th>
            <th>Mode</th>
            <th>Target</th>
            <th>State</th>
            <th></th>
          </tr></thead>
          <tbody>
            {% for target in targets %}
              <tr>
                <td >{{ target.description }}</td>
                <td >{{ target.stream_mode }}</td>
                <td ></td>
                <td >{{ target.state }}</td>
                <td width="120em">
                  <div class="btn-group btn-group-sm">
                    <a class="btn btn-default" href="{% url 'target_edit' id=target.id %}" title="Edit"><span class="glyphicon glyphicon-edit electric"></span></a>
                    <a class="btn btn-default" href="{% url 'target_delete' id=target.id %}" title="Delete"><span class="glyphicon glyphicon-remove electric"></span></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
        <a href="{% url 'target_create' project=project.id %}" class="btn btn-default">Add</a>
      </p>

    </div>

    <div role="tabpanel" class="tab-pane" id="resources">
      <br/>
      {% if requests %}
        <h4>Pending requests</h4>
        <table class="table table-hover table-bordered table-condensed">
          <thead><tr>
            <th>Server name</th>
            <th>Requester</th>
            <th>Cores</th>
            <th>Memory</th>
            <th>Disk</th>
            <th></th>
          </tr></thead>
          <tbody>
            {% for request in requests %}
              <tr>
                <td >{{ request.inftype}}-{{ request.name }}.za.prk-host.net</td>
                <td >{{ request.requested_by }}</td>
                <td >{{ request.cpus }}</td>
                <td >{{ request.memory }}</td>
                <td >{{ request.disk }}</td>
                <td width="60em">
                  <div class="btn-group btn-group-sm">
                    <a class="btn btn-default" href="#" title="Cancel"><span class="glyphicon glyphicon-remove electric"></span></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <a href="{% url 'server_request' project=project.id %}" class="btn btn-default">Request server</a>
    </div>
    <div role="tabpanel" class="tab-pane" id="streams">
      <br/>
      <p>
      {% if streams %}
        <table class="table table-hover table-bordered table-condensed">
          <tbody>
            <thead><tr>
              <th>Name</th>
              <th>Repo</th>
              <th>Branch</th>
              <th>Type</th>
              <th>Architecture</th>
              <th>Auto</th>
              <th>Current Release</th>
              <th></th>
            </tr></thead>
            {% for stream in streams %}
              <tr>
                <td>{{ stream.name }}</td>
                <td>{{ stream.repo }}</td>
                <td>{{ stream.branch }}</td>
                <td>{{ stream.type }}</td>
                <td>{{ stream.architecture }}</td>
                <td>{% if stream.auto_release %}<span class="glyphicon glyphicon-ok electric"></span>{% endif %}</td>
                {% if stream.stream_mode == 0 %}
                <td>{{ stream.last_release.build.build_file }}</td>
                {% else %}
                <td>
                {% for target in stream.target_set.all %}
                  <strong>Server: {{target.server}} (<a href="{% url 'server_log' id=target.id %}">view log</a>)</strong><br/>
                  State:
                    {% if target.deploy_state == 0 %}Unknown{% endif %}
                    {% if target.deploy_state == 1 %}Deploy in progress{% endif %}
                    {% if target.deploy_state == 2 %}Deployed{% endif %}
                    {% if target.deploy_state == 3 %}Problem{% endif %}
                  <br/>
                  Release:
                    {% if target.current_build.build_file %}{{target.current_build.build_file}}{% else %}None{% endif %}
                  <br/>
                {% endfor %}
                </td>
                {% endif %}
                <td width="90em">
                  <div class="btn-group btn-group-sm">
                    <a class="btn btn-default" href="{% url 'stream_edit' id=stream.id %}" title="Edit"><span class="glyphicon glyphicon-edit electric"></span></a>
                    <a class="btn btn-default" href="{% url 'stream_delete' id=stream.id %}" title="Delete"><span class="glyphicon glyphicon-remove electric"></span></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'stream_create' project=project.id %}" class="btn btn-default">Create stream</a>
      {% else %}
      <div class="alert">
        <strong>No release flows!</strong>
      </div>
      <a href="{% url 'stream_create' project=project.id %}" class="btn btn-default">Create stream</a>
      {% endif %}
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="releases">
      <br/>
      <p>
        <table class="table table-hover table-bordered table-condensed">
          <thead><tr><th>Request date</th><th>Workflow</th><th>Build</th><th>Status</th><th></th></tr></thead>
          <tbody>
            {% for release in releases %}
              <tr>
                <td >{{ release.release_date }}</td>
                <td >{{ release.flow.name }}</td>
                <td >{{ release.build.build_file }}</td>
                <td >{{ release.get_state }}</td>
                <td width="50em">
                  <div class="btn-group btn-group-sm">
                    <a class="btn btn-default" href="{% url 'release_delete' id=release.id %}" title="Delete"><span class="glyphicon glyphicon-remove electric"></span></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="builds">
      <br/>
      <p>
        <table class="table table-hover table-bordered table-condensed">
          <thead><tr><th>Build date</th><th>Build</th><th>Status</th><th></th></tr></thead>
          <tbody>
            {% for build in builds %}
              {% if build.state == 0 %}<tr class="info">{%endif%}
              {% if build.state == 1 %}<tr class="success">{%endif%}
              {% if build.state == 2 %}<tr class="error">{%endif%}
              {% if build.state == 3 %}<tr class="warning">{%endif%}
                  </td>
                  <td>{{ build.build_time }}</td>
                  <td>{{ build.build_file }}</td>
                  <td>
                    {% if build.state == 0 %}In Progress{%endif%}
                    {% if build.state == 1 %}Success{%endif%}
                    {% if build.state == 2 %}Failed{%endif%}
                    {% if build.state == 3 %}Cancelled{%endif%}
                  </td>
                  <td width="100em">
                    <div class="btn-group btn-group-sm">
                      <a class="btn btn-default" href="{% url 'build_view' id=build.id %}"><span class="glyphicon glyphicon-list electric"></span></a>
                      {% if build.state == 0 %}
                      <a class="btn btn-default" href="{% url 'build_cancel' id=build.id %}"><span class="glyphicon glyphicon-remove electric"></span></a>
                      {% endif %}
                      {% if build.state == 1 %}
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default dropdown-toggle electric" data-toggle="dropdown">
                        <img src="/static/images/green-rocket-22x22.png" height="16"/> &nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                          {% for stream in streams %}
                          <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">{{stream.name}}</a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'stream_push' flow=stream.id build=build.id %}"><span class="glyphicon glyphicon-hand-right electric"></span> Push</a></li>
                              <li><a href="{% url 'stream_schedule' flow=stream.id build=build.id %}"><span class="glyphicon glyphicon-time electric"></span> Schedule</a></li>
                            </ul>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endif %}
                    </div>
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </p>
    </div>
    <!-- End tabs -->
  </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="/static/js/jsPlumb-2.0.4.js"></script>
<script>
  var loadGraph = function() {
    jsPlumb.ready(function() {
      $.getJSON("{% url 'project_graph' id=project.id %}", function (data) {
        $("#graph").replaceWith('<div class="canvas-wide jtk-surface jtk-surface-nopan chart" id="graph"></div>');

        var instance = jsPlumb.getInstance({
          Connector: [ "Bezier", { curviness: 50 } ],
          DragOptions: { cursor: "pointer", zIndex: 2000 },
          PaintStyle: { strokeStyle: "gray", lineWidth: 2 },
          EndpointStyle: { radius: 1, fillStyle: "gray" },
          HoverPaintStyle: {strokeStyle: "#B92DD8" },
          EndpointHoverStyle: {fillStyle: "#B92DD8" },
          Container: "graph",
          ConnectionOverlays: [
            [ "Arrow", { location: 1 } ],
          ]
        });

        var createNode = function (content, id, x, y){
          // Create a node 
          var win = $('<div class="window" id="'+id+'"><span class="window-content">'+content+'</span></div>')
          win.appendTo("#graph");

          win.css('top', y);
          win.css('left', x);
          var w = win.find('span:first').width();
          if ( w < 80) {  
            w = 80;
          };
          win.css('width', w+20);

          return win;
        };

        var calcSep = function (a) {
          // Calculate node vertical separation
          var vh = $('#graph').height();
          var n = a.length;
          var g = vh - (50*n);
          var sep = g/(n+1);
          return sep;
        };

        var renderNodes = function (a, offset, e){
          // Render a set of nodes
          var sep = calcSep(a);

          var maxWidth = 0;

          $.each(a, function (i, v){
            var node = createNode(v.name, v.id, offset, (sep*(i+1))+(50*(i)));
            var w = node.width();
            if (w > maxWidth) {
              maxWidth = w;
            };
            e(v);
          });

          return maxWidth;
        };

        instance.batch(function () {
          var vh = $('#graph').height();
          // Add project node
          var win = $('<div class="window" id="projnode"><strong>'+data.project+'</strong></div>').appendTo("#graph");

          var mw = win.find('strong:first').width() + 20;

          win.css('top', (vh/2)-25);
          win.css('left', 10);
          if (mw < 80) {
            mw = 80;
          };
          win.css('width', mw);

          var sep = 100;

          // Render repo list
          var w = mw + sep + renderNodes(data.repos, mw + sep, function(v){
            instance.connect({
              source: "projnode",
              target: v.id,
              anchors: ["Right", "Left"],
            });
          });

          // Render streams list
          w += sep + renderNodes(data.streams, w + sep, function(v){
          });

          // Render target list
          renderNodes(data.targets, w + sep, function(v){
          });

          // Link stream list
          $.each(data.streams, function(i, v){
            instance.connect({
              source: v.repo_link,
              target: v.id,
              anchors: ["Right", "Left"],
            });
            
            $.each(v.target_link, function (i, t) {
              instance.connect({
                source: v.id,
                target: t,
                anchors: ["Right", "Left"]
              });
            });
          });

          instance.draggable(
            jsPlumb.getSelector(".chart .window")
          );
        })
      });
    });
  };

  var graphLoaded = false;

  $('#projectTabs a').click(function (e) {
    var control = $(this)[0].attributes[1].value;

    $.cookie('prjtab', control);
    e.preventDefault();
    $(this).tab('show');

    if (control = "project"){
      console.log('prj');
      loadGraph();
    };
  })

  var lastTab = $.cookie('prjtab');
  if (lastTab) {
    tab = $("[aria-controls='" + lastTab + "']");
    tab.click();
  }
  

</script>
{% endblock %}
